<div class="container">
  <div class="row justify-center">
    <div class="col-8">
      <app-card 
        [cardTitle]="'App - NTILan'" 
        [cardSubtitle]="'PWA'" 
        [cardImage]="'../../assets/NTILan1.png'"
        [cardContent]="'Jag utvecklade tillsammans med två andra klasskamrater en PWA. Den var skriven i VueJS och NUXT, samt Laravel för dess backend. Vi jobbade med Scrum principer och jobbade agilt.'"
        [githubButtonText]="'Github'" [githubButtonLink]="'https://github.com/TE4-Umea/lan-frontend'" [websiteButtonText]="'Hemsida'" [websiteButtonLink]="'https://lan.umea-ntig.se/'">
      </app-card>

      <app-card [cardTitle]="'App - Rankone.global'"
                [cardSubtitle]="'HybridApp'" [cardImage]="'../../assets/r1.png'"
                [cardContent]="'Under min praktik på RankOne.global så var min uppgift att ompaketera deras hemsida som en app, detta utfördes med en cross platform app skriven i @Ionic/React.'"
                [githubButtonText]="'Github'" 
                [githubButtonLink]="'https://www.github.com'" 
                [websiteButtonText]="'Hemsida'" 
                [websiteButtonLink]="'https://www.rankone.global'">
      </app-card>
    </div>
  </div>
</div>
